

body {
	background-color: darkcyan;
}

#Java {
	color: purple;
}

.yellow {
	color: yellow;
}

.green {
	color: green;
}

li{
	color: orange;
}

table, thead, tbody,td, th {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 0.2px;

}

